body{
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

.contenedor-ventas{

    background-color: #ffffff;
    width: 65%;
    margin: auto;
    margin-bottom: 50px;
    
}

.contenedor-btn-title{
    display: flex;
    background-color: teal;
    padding: 25px 0;
    border-radius: 8px 8px 0 0;
}

.btn-title{
    width: 85%;
    
}

.title{
    color: white;
    font-size: 25px;
    padding: 0 0 0 25px;
}


.btn{
    line-height: 25px;
    border-radius: 5px;
    color: white;
    border: 1px solid white;
    background-color: teal;
   
}

.btn:hover{
    background-color: lightseagreen;
}

.contendor-lista-ventas{
    background-color: white;
    /*padding: 0 10px;*/
}

#ventas{
    margin: 0;
padding: 0;}

.listaa {
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    height: 75px;
    line-height: 75px;
    width: 100%;
    border: 1px solid lightblue;
   
}

.favoritos-cont{
   
   display: block;
    
}

.favoritos-cont .favs{
    padding-left: 60px;
}

.favoritos-cont .vendedoraTop{
    padding-left: 60px;
}

.listaa:hover{
    background-color: lightblue;
}

.listaa div{
    padding: 0 5px;
    
}

.trash {
    font-size: 14x;
    color: white;
    background-color: red;
  
    border-radius: 20px;
    border: none;
    line-height: 24px;
    width: 26px;
}

.modal{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

}

.modal.active{
    display: block;
}

.modal .modal-backdrop{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000000;
    opacity: 0.5;

}

.modal .modal-conteiner{
    position: absolute;
    background-color: teal;
    color: white;
    top: 15px;
    left: 0;
    right: 0;
    width: 20%;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
}

.modal-header{
    font-size: 18px;
    padding: 10px 0;
}



.modal-footer{
    padding: 10px 0;
    text-align: center;
}

.kaka-sucursal{
    width: 70%;
}

.fecha {
    width: 6%;
}
.sucursal {
    width: 7%;
}
.vendedora {
    width: 5%;
}
.componentes {
    width: 40%;
}

.select{
    display: block;
    margin: 10px 0;
    width: 95%;
    border-radius: 5px;
}